.font-text {
  font-family: Helvetica;
  color: black;
}

.btn-green {
  background-color: #5cb85f;
  color: white;
}

.img-testimonial {
  width: 80px;
  height: 80px;
}

.accordion-item {
  margin-top: 16px;
}

@media only screen and (min-width: 768px) {
  .nav-mobile {
    display: none !important;
  }

  .nav-desktop {
    display: static !important;
  }
  .img-big {
    width: 600px;
  }

  .cont-sec-1 {
    margin-top: 150px;
  }

  .big-circle {
    width: 133px;
    height: 133px;
    margin-top: -150px;
    border-radius: 50%;
    background-color: #92d094;
  }

  .md-circle {
    position: absolute;
    margin-top: 200px;
    margin-left: 100px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: yellow;
  }

  .img-girl {
    width: 370px;
    position: absolute;
    margin-left: 120px;
    margin-top: -200px;
  }

  .carousel-item {
    padding-right: 400px;
    padding-left: 400px;
  }

  .bg-dark-blue {
    background-color: #0d28a6;
    width: 1100px;
    height: 326px;
    border-radius: 20px;
  }

  .testimonial-card {
    margin-right: 30px;
  }

  .faq-bg {
    margin-top: 130px;
    padding: 60px;
    border-radius: 20px;
    margin-bottom: 80px;
  }

  
}

@media only screen and (max-width: 768px) {
  .nav-desktop {
    display: none !important;
  }

  .padding-fleksible {
    padding-left: 0px;
    padding-right: 0px;
  }

  .col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container {
    padding: 0px 80px 0px 80px; /* top right bottom left */
    margin-bottom: 100px;
  }

  .cont-sec-1 {
    margin-top: 50px;
  }

  .img-big {
    width: 340px;
  }

  .btn-register {
    width: max-content;
    float: left;
  }

  .btn-green {
    flex: none;
    align-items: stretch;
  }

  .font-text {
    text-align: left;
  }

  .bg-dark-blue {
    background-color: #0d28a6;
    width: 320px;
    height: 400px;
    border-radius: 20px;
  }

  .faq-bg {
    margin-top: 130px;
    padding: 60px;
    border-radius: 20px;
    margin-bottom: 80px;
  }
}
